# Copyright (c) 2020-2021 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=Sensors Daemon Service
SourcePath=/usr/bin/sensors.qti

[Service]
User=sensors
Group=sensors
Restart=always
ExecStart=/usr/bin/sensors.qti

[Install]
WantedBy=multi-user.target
